* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: white;
    border-bottom: 3px solid red;
    background-color: gray;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    display: grid;
    grid-template-columns: (repeat(2, 1fr));
    grid-gap: 2rem;
}

.container ul {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container a {
    padding: 0 0.9rem;
}
